.card-label_container {
	position: absolute;
	bottom: 10rem;
	left: 0;
}

.card-label_content {
	display: flex;
	text-align: center;
	align-items: center;
	background-color: var(--fill);
	color: var(--bg-1);
	font-size: 12px;
	font-family: 'Segoe UI';
	font-weight: bold;
	height: 40px;
	padding: 0px 50px;
}
